{% extends 'base.html.twig' %}
{% block body %}
<h1>BIENVENU DANS NOTRE SITE WEB </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eaque molestias ipsa cum, dicta repellat modi animi distinctio. Vel odit quaerat facilis architecto reprehenderit? Maiores voluptates mollitia excepturi temporibus esse!</p>
{% endblock %}
